## Build generated
.build/
build/
!Carthage/Build
!Carthage/Checkouts
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# AppCode
# AppCode messes up some configuration for now, I have to remove all its project configuration from Git
/.idea
# /.idea/workspace.xml
# /.idea/usage.statistics.xml
# /.idea/$CACHE_FILE$
# /.idea/shelf/
# /.idea/dictionaries/alex.xml
# /.idea/inspectionProfiles/Project_Default.xml

# MacOS
.DS_Store

# Other
/.env
/Fastlane/README.md
/Fastlane/report.xml
